<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fitness Nut Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fitness Nut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C266C011133E2DCB00F79EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C266C02F133E2DCB00F79EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E6CBC0133EB55200ADAF89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E6CBE4133EB55200ADAF89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E6CC02133EB61B00ADAF89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2ED6273133E2FB500FE9C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2ED6297133E2FB500FE9C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
